<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Thymeleaf</title>
</head>
<body>
<div>
    <h1>Inicio Spring</h1>
    <p th:text="${mensaje}"></p>
    <p th:text="${mensaje2}"></p>
    <p th:text="${saludo}"></p>
    <br/>
    <div>
        <h>Nombre: <spam th:text="${persona.nombre}"></spam></h> <br/>
        <h>Apellido: <spam th:text="${persona.apellido}"></spam></h> <br/>
        <h>E-Mail: <spam th:text="${persona.email}"></spam></h> <br/>
        <h>Telefono: <spam th:text="${persona.telefono}"></spam></h> <br/>
    </div>
</div>

</body>
</html>
